<head>
    <link rel="stylesheet" href="/stylesheets/vehicle.css">
    <link rel="stylesheet" href="/stylesheets/datepicker.min.css">
</head>
<h1 class="vehicle-page-title">Choose a Rental</h1>
<ul class="vehicle-styling">
    {{#each vehicles as |vehicle|}}

    {{log this}}
    <li>
        {{vehicle.vehicleName}}</br>
        {{vehicle.vehicleMake}}</br>
        {{vehicle.vehicleModel}}</br>
        {{vehicle.vehicleYear}}</br>
        <button id="reserve" class="reserve-btn">Reserve</button>
    </li>
    {{/each}}
</ul>

<dialog id="reservation-modal">
    <form method="dialog">
        <div>
            <div class="date-range"></div>
            <div class="date-range-end"></div>

        </div>
        <button type="submit" id="reserve-button">submit</button>
    </form>
</dialog>

<script src="/javascript/datepicker.min.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/reserve.js"></script>